*{
    margin:0px;
    padding:0px;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    color: #000;
    text-align: center;
    font-family: "Italiana", serif;
    font-weight: 400;
    font-size: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 10px;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-family: Italiana, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

footer{
    display: flex;
    height: 63px;
    padding: 31px 71px;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Italiana, sans-serif;
    font-size: 24px;
}

.row{
    display: flex;
    width: 1440px;
    height: 140px;
    padding: 201px 130px;
    align-items: center;
    align-content: center;
    gap: 140px;
    flex-wrap: wrap;
    background: #ECECEC;
}

.subpage{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 37px;
    background: #FFF;
    overflow: hidden;
}

.subpage-image{
    width: 300px;
    height: 300px;
}

.label-container{
    display: flex;
    padding: 7px 69px 7px 70px;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #3C2222 0%, rgba(161, 92, 92, 0.00) 100%);
    position: relative;
    bottom: 310px;
}

.subpage-title{
    color: #FFF;
    font-family: Italiana, sans-serif;
    font-size: 50px;
    text-align: left;
}
